.graph-stats {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 32px;
  min-width: 148px;
  height: 40px;
}

.stat-label {
  flex: 1 0 0;
  color: #00112B;
  font-family: 'Macan Mono Trial', monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.stat-value {
  color: #00112B;
  font-family: 'Macan Mono Trial', monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.stat-optimal {
  color: #D9322A;
}

@media (max-width: 768px) {
  .stat-item {
    gap: 16px;
    min-width: 120px;
    height: 36px;
  }
  
  .stat-label,
  .stat-value {
    font-size: 14px;
  }
}
