.node-box {
  width: 72px;
  height: 44px;
  border-radius: 1px;
  border-width: 1.5px;
  border-style: solid;
}

.node-box-blue {
  border-color: #072B56;
  box-shadow: 0 0 0 4px rgba(7, 43, 86, 0.2);
}

.node-box-green {
  border-color: #23A45A;
  box-shadow: 0 0 0 4px rgba(35, 164, 90, 0.2);
}

.node-box-orange {
  border-color: #ED8B30;
  box-shadow: 0 0 0 4px rgba(237, 139, 48, 0.2);
}
