@import '../../tokens.css';

:root {
  --Dark-blue: #00112B;
  --Text-White-text-Main-text: #FFF;
}

.toast {
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: var(--Dark-blue, #00112B);
  box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
  max-width: 394px;
  min-width: 320px;
}

.toast__content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.toast__icon {
  display: flex;
  width: 40px;
  height: 40px;
  padding-bottom: 0.001px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;
}

.toast__icon svg {
  flex-shrink: 0;
}

.toast__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1;
}

.toast__text {
  align-self: stretch;
  color: var(--Text-White-text-Main-text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--font-family-macan);
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.toast__label {
  font-weight: 450;
}

.toast__value {
  font-weight: 600;
}

@media (max-width: 480px) {
  .toast {
    min-width: 280px;
    max-width: calc(100vw - 40px);
  }

  .toast__text {
    font-size: 14px;
  }
}
