.shield-alert-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  border: 1px solid var(--color-blue-700, #0072FF);
  backdrop-filter: blur(2px);
}

.shield-alert-icon svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}
